.dorder2 {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  /* position:fixed;  */
  top: 3em;
}

#dall {
  text-align: center;
}

.dtotal {
  position: absolute;
  display: flex;
  top: 5em;
  right: 10em;
  gap: 2em;
}

.dnumber {
  position: absolute;
  left: 9em;
}

.dnumber label {
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 10px;
}

.dnumber input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15em;
}

.detable{
  margin: 3em;
  display: inline-block;
  margin-top: 6em;
  overflow: auto;
  
}
.dtable th,
.dtable2 td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.dtable2 th {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
}

.dtable2 td {
  color: #333;
}
@media screen and (max-width: 700px) {
    .dorder2{
      height: auto;
      position:fixed;
    }
    .detable{
      height:auto;
      position: absolute;
      width: 95%;
      height: 100%;
      top:-6em;
     
      /* display: inline-block;
      margin-top: 9em;
      overflow-x: auto; */
    }
    .detable1{
      width: 100vw;
      overflow-x: scroll;
      /* border: 1px solid green; */
     position: relative;
     top: -1em;
     font-size: 0.8em;
     overflow-y:scroll;
     /* height: auto; */
     height:70vh;
    }
    .detable td{
      padding: 2px;
    }
    .detable td{
      text-align: center;
    }
    #del{
      font-size:1em;
      margin: 0.5em;
      padding: 0.5em;
    }
}
@media screen and (max-width:400px){
  .detable1{
    height: 66vh;
  }
}
